<h1>我的个人资料</h1>

<p>Email: <%= @user.email %></p>
<p>Location: <%= @user.profile.location %></p>
<p>Birthday: <%= @user.profile.birthday %></p>

<p>Education: <%= @user.profile.education%> </p>
<p>Bio: <%= simple_format @user.profile.bio %></p>

<b><%= link_to('修改个人资料', edit_user_profile_path) %></b>

 <%= link_to "Tickets", user_tickets_path(@user), :class => "btn btn-default" %>
 
 <%= link_to "New Ticket", new_user_ticket_path(@user), :class => "btn btn-primary" %>