<h1><%= @user.profile.legal_name %> / Tickets</h1>

<p class="text-right">
<%= link_to "New Ticket", user_ticket_path(@user), :class => "btn btn-primary" %>
</p>

<table class="table">
<tr>
  <th>Name</th>
  <th>Price</th>
  <th>Description</th>
  <th>Actions</th>
</tr>
<% @tickets.each do |ticket| %>
  <tr>
    <td><%= ticket.name %></td>
    <td><%= ticket.price %></td>
    <td><%= simple_format ticket.description %></td>
    <td>
      <%= link_to "Edit", user_ticket_path(@user, ticket), :class => "btn btn-default" %>
      <%= link_to "Delete", user_ticket_path(@user, ticket), :method => "delete", :data => { :confirm => "Are you sure?" }, :class => "btn btn-danger" %>
  </tr>
<% end %>
</table>